.floating-action-button-hide {
  display: none !important;
}

.floating-action-button-show {
  bottom: 40px;
  position: fixed;
  right: 40px;
  z-index: 3;
}

.flat-button {
  clear: both;
  text-align: left !important;
  width: 300px;
}

.directions-icon {
  height: 35px !important;
  width: 35px !important;
  color: rgb(178,235,242) !important;
}

.fetching-route-data {
  
}

.not-fetching-route-data {
  display: none !important;
}

.map-viewing {

}

.map-selecting-route {
  top: 56px;
}

.selecting-route-toolbar-icon {
  padding-right: 2%;
  padding-bottom: 2%;
  color: rgb(178,235,242) !important;
  height: 30px !important;
  width: 30px !important;
}

.searchbar-menu-button {
  float: left;
}

.search-toolbar-show {
  background-color: white !important;
  position: absolute;
  height: auto;
  top: 2%;
  left: 5%;
  right: 5%;
  border-radius: 3px;
}

.search-toolbar-hide {
  display: none !important;
}

.search-toolbargroup {
  width: 100%;
}

.current-origin {
  padding: 10px 14px 0px 14px !important;
}

.current-destination {
  padding: 0px 14px 0px 14px !important;
}

.current-location-card-show {
  position: absolute;
  top: 12%;
  left: 5%;
  right: 5%;
  border-radius: 3px;
}

.current-location-card-hide {
  display: none;
}

.current-location-found {

}

.current-location-not-found {
  color: red !important;
  font-style: italic;
}

.search-results-card {
  top: 24%;
}

.search-results-card-only {
  top: 12%;
}

.search-cards-show {
  position: absolute;
  left: 5%;
  right: 5%;
  border-radius: 3px;
}

.search-cards-hide {
  display: none;
}

.search-result-destination-show {

}

.search-result-destination-hide {
  display: none !important;
}

.search-result-origin-show {
  
}

.search-result-origin-hide {
  display: none !important;
}

.selecting-route-toolbar-show {
  position: relative;
  background-color: rgb(0, 188, 212) !important;
}

.selecting-route-toolbar-hide {
  display: none !important;
}

.shark-walk-gif-container {
  bottom: 0%;
}
